<div class="section group">
    <div class="col span_2_of_7">
        <div class="small-circle">
            <img src="/files/img/about.jpg" style="width: 150px" />
        </div>
    </div>

    <div class="small-titles">
        <h1>About me!</h1>
    </div>
</div>

<div class="section group">
    <div class="col span_2_of_7">&nbsp;</div>
    <div class="col span_5_of_7 mln">

        <p>EXTREMELY IMPORTANT BIOGRAPHY</p>
    </div>
</div>
