<div class="show-mobile">
    <div class="small-circle mbm">
        <img src="/files/img/about.jpg" />
    </div>
    <div class="small-titles">
        <h1>{{gettext "About the translator"}}</h1>
    </div>
</div>

<div class="section group hide-mobile">
    <div class="col span_2_of_7">
        <div class="small-circle">
            <img src="/files/img/about.jpg" />
        </div>
    </div>

    <div class="small-titles">
        <h1>{{gettext "About the translator"}}</h1>
    </div>
</div>

<div class="section group mtl">
    <div class="white-bg plm prm pts pbs" class="col span_7_of_7">

        <p>{{gettext "About content 1"}}</p>
        <p>{{gettext "About content 2"}}</p>
        <p>{{gettext "About content 3"}}</p>
        <p>{{gettext "About content 4"}}</p>
        <p>{{gettext "About content 5"}}</p>
    </div>
</div>
