 <div id="availability" class="centered">
    <h2 class=" green mts mbs">Available for work!</h2>
    <h3 class="mts mbn">Current location:<span class="italic"> Norway </span></h3>
    <h4 class="mts">Time: <span id="time">{{ time }}</span></script></h4>
</div>