<div class="show-mobile">
    <div class="small-circle">
        <img src="/files/img/contact.jpg" />
    </div>
    <div class="small-titles">
        <h1>Contact me!</h1>
    </div>
</div>


<div class="section group hide-mobile">
    <div class="col span_2_of_7">
        <div class="small-circle">
            <img src="/files/img/contact.jpg" />
        </div>
    </div>

    <div class="small-titles col span_5_of_7">
        <h1>Contact me!</h1>
        <h2>Write me an e-mail and I'll get back to you if you're awesome.</h2>
    </div>
</div>

<div class="section group">
    <div class="col span_2_of_7">&nbsp;</div>
    <div class="col span_5_of_7 mln">

        <form id="contact-form" method="POST" action="/send">
            <div class="input pbs">
                <label for="email" class="pbs">Your e-mail:</label>
                <input type="email" name="email" id="email" size="40" class="mbm"></input>
            </div>

            <div class="input pbl">
                <label for="message" class="pbs">Message:</label>
                <textarea rows="20" cols="60" name="message" id="message"></textarea>
            </div>

            <div class="input">
                <button id="send-button">Send</button>
            </div>
        </form>
    </div>
</div>
