<div class="section group">
    <div class="col span_2_of_7">
        <div class="small-circle">
            <img src="/files/img/contact.jpg" style="width: 150px" />
        </div>
    </div>

    <div class="small-titles">
        <h1>Contact me!</h1>
        <h2>Write me an e-mail and I'll get back to you if you're awesome.</h2>
    </div>
</div>

<div class="section group">
    <div class="col span_2_of_7">&nbsp;</div>
    <div class="col span_5_of_7 mln">

        <form id="contact-form" method="POST" action="/send-mail">
            <div class="input pbs">
                <label for="email">Your e-mail:</label>
                <input type="email" name="email" id="email"></input>
            </div>

            <div class="input pbl">
                <label for="message">Message:</label>
                <textarea rows="20" cols="60" name="message" id="message"></textarea>
            </div>

            <div class="input">
                <button type="button">Send!</button>
            </div>
        </form>
    </div>
</div>
