<nav>
    <ul>
        <li><a href="#contact">My digits</a></li>
        <li><a href="#about">Life story</a></li>
        <li><a href="#work">Shit I done</a></li>
        <li><a href="#prices">Give me work</a></li>
    </ul>
</nav>