
<nav>
    <a id="home-link" href="/"><img id="home-icon" src="/files/img/home.png" /></a>
    <ul id="menu-list">
        <li><a href="#contact">My digits</a></li>
        <li><a href="#about">Life story</a></li>
        <li><a href="#work">Shit I done</a></li>
        <li><a href="#prices">Give me work</a></li>
    </ul>
    <img class="show-mobile" id="menu-icon" src="/files/img/menu.png" />
</nav>

