<div class="show-mobile">
    <div class="small-circle">
        <img src="/files/img/prices.jpg" />
    </div>
    <div class="small-titles">
        <h1>Whatchoowanna pay me?</h1>
    </div>
</div>

<div class="section group hide-mobile">
    <div class="col span_2_of_7">
        <div class="small-circle">
            <img src="/files/img/prices.jpg" />
        </div>
    </div>

    <div class="small-titles">
        <h1>Whatchoowanna pay me?</h1>
    </div>
</div>

<div class="section group">
    <div class="col span_2_of_7">&nbsp;</div>
    <div class="col span_5_of_7 mln">

        <h1>CASH IS KING.</h1>

    </div>
</div>