<div class="show-mobile">
    <div class="small-circle mbm">
        <img src="/files/img/prices.jpg" />
    </div>
    <div class="small-titles">
        <h1>{{gettext "Pricing"}}</h1>
    </div>
</div>

<div class="section group hide-mobile">
    <div class="col span_2_of_7">
        <div class="small-circle">
            <img src="/files/img/prices.jpg" />
        </div>
    </div>

    <div class="small-titles">
        <h1>{{gettext "Pricing"}}</h1>
    </div>
</div>

<div class="section group">
    <div class="col span_7_of_7 white-bg pts pbs plm prm">
        <p>{{gettext "Pricing content"}}</p>
        <p>{{gettext "pro bono"}}</p>

        <h3>{{gettext "Terms and conditions"}}</h3>
        <p>{{gettext "Terms and conditions content"}}</p>
    </div>
</div>