 <div id="testimonials">
 	<div class="column pls prm">
	 	<div class="testimonial mbl plm prm">
			<p class="quote">
				“Iris is a very dedicated and professional person. She put a lot of attention to my project and always responded on time. I will hire her again for my future projects and I will recommend her for any translation works to be done.”
			</p>
			<p class="italic fright grey small-font prs">- Loic Mucha // Recipe Book</p>
		</div>
 		<div class="testimonial mbl plm prm">
		    <p class="quote">
		    	“I am very pleased with the work Iris has done for me. She is precise, fast and effective. I give her my highest recommendation and would hire her again.”
			</p>
		    <p class="italic fright grey small-font prs">- BoligEnergi.no</p>
		</div>

		<div class="testimonial mbl plm prm">
			<p class="quote">
				“Iris is a great translator, communication is fantastic, just a great freelancer to work with :)”
			</p>
			<p class="italic fright grey small-font prs">
				— ONDK // Catalogs, ads and sales
			</p>
		</div>

 	</div>

 	<div class="column pls prm">
 		<div class="testimonial mbl plm prm">
			<p class="quote">“Brilliant translator, very professional. She is not only translating the text, but what is more important, she makes sure that it will be easy to understand for Norwegians! Nothing is lost in translation. Will hire again.”
			</p>

			<p class="italic fright grey small-font prs">— SW19Translation</p>
		</div>

		<div class="testimonial mbl plm prm">
			<p class="quote">“Iris was wonderful to work with. A fast communicator with great service. She understands how to be professional which is reflected in her work. Expectations were exceeded and I'll be in touch with her again. A++”
			</p>
			<p class="italic fright grey small-font prs">
			- William Dean // Web Content
			</p>
		</div>

		<div class="testimonial mbl plm prm">
			<p class="quote">"Thank you very much, Iris, for your work which has been done perfectly and timely! ”
			</p>
			<p class="italic fright grey small-font prs">-Appministry
			</p>
		</div>
 	</div>
</div>
