<div class="show-mobile">
    <div class="small-circle">
        <img src="/files/img/work.jpg" />
    </div>
    <div class="small-titles">
        <h1>Portfowleeyo!</h1>
    </div>
</div>

<div class="section group hide-mobile">
    <div class="col span_2_of_7">
        <div class="small-circle">
            <img src="/files/img/work.jpg" />
        </div>
    </div>

    <div class="small-titles">
        <h1>Portfowleeyo!</h1>
    </div>
</div>

<div class="section group">
    <div class="col span_2_of_7">&nbsp;</div>
    <div class="col span_5_of_7 mln">

        <h1>I did this</h1>
        <h2>and this</h2>
        <h3>and this</h3>
        <h4>and this</h4>
        <h5>and this</h5>
        <h6>and this</h6>
    </div>
</div>
<h2></h2>
