<html>
<head>
    {{> header }}
</head>
<body>
    <header>
        {{> nav }}
    </header>

    <div class="main-content">
        <div class="line">
            <div class="centered-content">
                <div class="circle">
                    <img src="//placehold.it/300&text=your+face+here" />
                </div>
                <div class="titles">
                    <h1>Your name or something</h1>
                    <h2>Translator extraordinaire</h2>
                </div>
            </div>
        </div>

        <div class="text-content italic centered">
            <p>I'm super awesome and I can translate better than your mom.</p>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/nav.js"></script>
</html>