<html>
<head>
    {{> header }}
</head>
<body>
    <header>
        {{> nav }}
    </header>

    <div class="main-content">
        <div id="home-content">
            <div class="centered">
                <img class="circle" src="/files/img/main.jpg" />

                <div class="titles">
                    <h1>Iris Alm Faleide</h1>
                    <h2>Native Norwegian Translator</h2>
                </div>
            </div>


            <div class="centered italic big-font ptl">
                <p>I'm super awesome and I can translate better than your mom.</p>
            </div>
        </div>

        <div class="other-content pam">
            <div id="contact" class="hidden">{{> contact }}</div>
            <div id="prices" class="hidden">{{> prices }}</div>
            <div id="about" class="hidden">{{> about }}</div>
            <div id="work" class="hidden">{{> work }}</div>
        </div>


    </div>

    {{> availability}}
</body>
<script type="text/javascript" src="/files/js/nav.js"></script>
<script type="text/javascript" src="/files/js/time.js"></script>
</html>