/* COLORS */
/* FONTS */
/* ---- BASELINE ---- */
html {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font: 100% 'Lato', sans-serif;
  background-color: #DADADA;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#D1D1D1));
  background: -webkit-linear-gradient(top, #FFFFFF, #D1D1D1);
  background: -moz-linear-gradient(top, #FFFFFF, #D1D1D1);
  background: -ms-linear-gradient(top, #FFFFFF, #D1D1D1);
  background: -o-linear-gradient(top, #FFFFFF, #D1D1D1); }

header {
  display: block; }

.main-content {
  height: auto;
  margin: 0 auto;
  z-index: 0; }

.other-content {
  margin: 0 auto; }

.purple {
  color: #A204E0; }

.green {
  color: #06CF1E; }

.light-grey {
  color: #DADADA; }

.grey {
  color: #969696; }

nav {
  position: fixed;
  z-index: 100;
  background-color: #383838;
  width: 100%;
  height: 33px;
  max-height: 45px;
  box-shadow: 0 1px 5px #323232; }
  nav #home-link {
    position: fixed;
    text-align: left;
    border: none;
    margin: 0;
    left: 10px;
    top: 4px; }
  nav #home-icon {
    width: 22px; }
  nav ul {
    list-style: none;
    margin: 0 auto;
    text-align: center;
    padding: 0; }
    nav ul li {
      display: inline-block;
      padding-top: 7px;
      padding-bottom: 7px;
      margin: 0;
      width: 23%; }
      nav ul li a {
        color: white;
        text-decoration: none;
        padding-bottom: 5px; }
      nav ul li a:hover {
        color: #06CF1E; }

#menu-icon {
  z-index: 500;
  width: 22px;
  position: fixed;
  top: 5px;
  right: 10px;
  cursor: pointer;
  cursor: hand; }

#availability {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 140px;
  min-height: 80px;
  height: auto;
  background-color: #FAFAFA; }
  #availability h2 {
    font-size: 0.9em; }
  #availability h3 {
    font-weight: 200;
    color: #383838;
    font-size: 0.8em; }
  #availability h4 {
    font-weight: 200;
    color: #383838;
    font-size: 0.7em; }

.active {
  color: #06CF1E; }

.titles {
  display: inline-block;
  padding-left: 1.5em; }
  .titles h1 {
    margin: 0; }
  .titles h2 {
    margin: 0;
    font-weight: 100; }

.small-titles {
  display: inline-block;
  text-align: justify;
  padding-top: 3em; }
  .small-titles h1 {
    margin: 0; }
  .small-titles h2 {
    margin: 0;
    font-weight: 100;
    font-size: 0.95em; }

.circle {
  vertical-align: middle;
  height: auto;
  width: 300px;
  max-width: 80%;
  border-radius: 150px;
  box-shadow: 0 0 8px rgba(200, 200, 200, 0.7);
  overflow: hidden; }

.small-circle {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  box-shadow: 0 0 8px rgba(200, 200, 200, 0.7);
  overflow: hidden;
  float: left; }

h1 {
  font-style: italic;
  font-weight: 700; }

.centered {
  text-align: center;
  margin: 0 auto; }

.italic {
  font-style: italic; }

.bold {
  font-weight: 700; }

.hidden {
  display: none; }

.small-font {
  font-size: 0.8em; }

.fright {
  float: right; }

.fleft {
  float: left; }

.shadow {
  box-shadow: 0 0 15px #C1C1C1; }

.white-bg {
  background-color: white; }

#testimonials {
  position: relative;
  z-index: inherit;
  width: 100%;
  height: auto; }
  #testimonials .column {
    width: 47%;
    float: right;
    margin: 0 auto; }
    #testimonials .column .testimonial {
      width: auto;
      height: auto;
      display: inline-block; }
      #testimonials .column .testimonial .quote {
        font-size: 0.9em; }

/* --- FORM --- */
.input label {
  display: block; }

#send-button {
  padding: 10px 20px 10px 20px;
  background: #A204E0;
  border: 1px solid #A204E0;
  color: white;
  font-size: 1em;
  box-shadow: 0 0 8px rgba(121, 121, 121, 0.8); }

#send-button:hover {
  color: #06CF1E;
  cursor: pointer;
  cursor: hand; }

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 0; }

.col:first-child {
  margin-left: 0; }

/*  GROUPING  */
.group:before, .group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 */ }

/*  GRID OF SEVEN  */
.span_7_of_7 {
  width: 100%; }

.span_6_of_7 {
  width: 85.48%; }

.span_5_of_7 {
  width: 70.97%; }

.span_4_of_7 {
  width: 56.45%; }

.span_3_of_7 {
  width: 41.94%; }

.span_2_of_7 {
  width: 27.42%; }

.span_1_of_7 {
  width: 12.91%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%; }
 }

@media only screen and (max-width: 480px) {
  .span_7_of_7 {
    width: 100%; }

  .span_6_of_7 {
    width: 100%; }

  .span_5_of_7 {
    width: 100%; }

  .span_4_of_7 {
    width: 100%; }

  .span_3_of_7 {
    width: 100%; }

  .span_2_of_7 {
    width: 100%; }

  .span_1_of_7 {
    width: 100%; }
 }

/* spacing helpers
p,m = padding,margin
a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
t,s,m,l,n = tiny(2px),small(5px),medium(10px),large(20px),none(0px)
*/
.ptn, .pvn, .pan {
  padding-top: 0 !important; }

.ptt, .pvt, .pat {
  padding-top: 2px !important; }

.pts, .pvs, .pas {
  padding-top: 5px !important; }

.ptm, .pvm, .pam {
  padding-top: 10px !important; }

.ptl, .pvl, .pal {
  padding-top: 20px !important; }

.prn, .phn, .pan {
  padding-right: 0 !important; }

.prt, .pht, .pat {
  padding-right: 2px !important; }

.prs, .phs, .pas {
  padding-right: 5px !important; }

.prm, .phm, .pam {
  padding-right: 10px !important; }

.prl, .phl, .pal {
  padding-right: 20px !important; }

.pbn, .pvn, .pan {
  padding-bottom: 0 !important; }

.pbt, .pvt, .pat {
  padding-bottom: 2px !important; }

.pbs, .pvs, .pas {
  padding-bottom: 5px !important; }

.pbm, .pvm, .pam {
  padding-bottom: 10px !important; }

.pbl, .pvl, .pal {
  padding-bottom: 20px !important; }

.pln, .phn, .pan {
  padding-left: 0 !important; }

.plt, .pht, .pat {
  padding-left: 2px !important; }

.pls, .phs, .pas {
  padding-left: 5px !important; }

.plm, .phm, .pam {
  padding-left: 10px !important; }

.pll, .phl, .pal {
  padding-left: 20px !important; }

.mtn, .mvn, .man {
  margin-top: 0 !important; }

.mtt, .mvt, .mat {
  margin-top: 2px !important; }

.mts, .mvs, .mas {
  margin-top: 5px !important; }

.mtm, .mvm, .mam {
  margin-top: 10px !important; }

.mtl, .mvl, .mal {
  margin-top: 20px !important; }

.mrn, .mhn, .man {
  margin-right: 0 !important; }

.mrt, .mht, .mat {
  margin-right: 2px !important; }

.mrs, .mhs, .mas {
  margin-right: 5px !important; }

.mrm, .mhm, .mam {
  margin-right: 10px !important; }

.mrl, .mhl, .mal {
  margin-right: 20px !important; }

.mbn, .mvn, .man {
  margin-bottom: 0 !important; }

.mbt, .mvt, .mat {
  margin-bottom: 2px !important; }

.mbs, .mvs, .mas {
  margin-bottom: 5px !important; }

.mbm, .mvm, .mam {
  margin-bottom: 10px !important; }

.mbl, .mvl, .mal {
  margin-bottom: 20px !important; }

.mln, .mhn, .man {
  margin-left: 0 !important; }

.mlt, .mht, .mat {
  margin-left: 2px !important; }

.mls, .mhs, .mas {
  margin-left: 5px !important; }

.mlm, .mhm, .mam {
  margin-left: 10px !important; }

.mll, .mhl, .mal {
  margin-left: 20px !important; }

/* ---------------------------------------------------------------------------------- */
/* Large desktop */
@media (min-width: 1200px) {
  .main-content {
    padding-top: 5%;
    width: 60%; }

  .show-mobile {
    display: none; }

  nav ul {
    width: 70%; }

  .small-circle {
    margin-left: 10px;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    box-shadow: 0 0 8px rgba(200, 200, 200, 0.7);
    overflow: hidden;
    float: left; }
    .small-circle img {
      width: 160px;
      height: auto; }

  .big-font {
    font-size: 1.6em; }
 }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) {
  .main-content {
    padding-top: 7%;
    width: 70%; }

  .show-mobile {
    display: none; }

  nav ul {
    width: 80%; }

  .small-circle {
    width: 140px;
    height: 140px;
    border-radius: 70px;
    box-shadow: 0 0 8px rgba(200, 200, 200, 0.7);
    overflow: hidden;
    float: left; }
    .small-circle img {
      width: 140px;
      height: auto; }

  .big-font {
    font-size: 1.6em; }

  #testimonials {
    width: 100%;
    height: auto; }
    #testimonials .column {
      width: 45%;
      float: left;
      height: auto;
      margin: 0 auto; }
    #testimonials .testimonial {
      display: inline-block; }
      #testimonials .testimonial .quote {
        font-size: 0.9em; }
 }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .show-mobile {
    display: block; }

  .hide-mobile {
    display: none; }

  .main-content {
    width: 80%;
    padding-top: 10%;
    position: relative; }

  nav {
    z-index: 100; }
    nav ul {
      width: 100%;
      background-color: #383838; }
      nav ul li {
        width: 100%; }

  .small-circle {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    box-shadow: 0 0 8px rgba(200, 200, 200, 0.7);
    overflow: hidden;
    float: left; }
    .small-circle img {
      width: 120px;
      height: auto; }

  .small-titles {
    margin-left: 3%; }

  #availability {
    position: relative;
    display: inline-block;
    right: 0;
    top: 30px;
    width: 100%;
    height: auto;
    background-color: #F1F1F1;
    padding-top: 5px;
    padding-bottom: 5px; }
    #availability h3, #availability h4 {
      display: inline;
      padding-left: 3%;
      padding-right: 3%; }
    #availability h2 {
      font-size: 0.8em; }
    #availability h3 {
      font-weight: 200;
      color: #383838;
      font-size: 0.7em; }
    #availability h4 {
      font-weight: 200;
      color: #383838;
      font-size: 0.7em; }

  .big-font {
    font-size: 1.6em; }

  #testimonials {
    text-align: center;
    position: relative; }
    #testimonials .column {
      width: 100%;
      margin-bottom: 0; }
    #testimonials .testimonial {
      width: 100%;
      display: inline-block; }
      #testimonials .testimonial .quote {
        font-size: 0.9em; }
 }

/* Landscape phones and down */
@media (max-width: 480px) {
  .show-mobile {
    display: block; }

  .hide-mobile {
    display: none; }

  .main-content {
    width: 95%;
    position: relative;
    padding-top: 13%;
    font: 80% 'Lato', sans-serif; }

  .other-content {
    position: relative; }

  nav {
    height: 30px;
    z-index: 100; }
    nav ul {
      width: 100%;
      background-color: #383838; }
      nav ul li {
        width: 100%; }

  #menu-list {
    display: none; }

  .circle {
    vertical-align: middle;
    height: auto;
    max-width: 250px;
    border-radius: 150px;
    box-shadow: 0 0 8px rgba(200, 200, 200, 0.7);
    overflow: hidden; }

  .small-circle {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    box-shadow: 0 0 8px rgba(200, 200, 200, 0.7);
    overflow: hidden;
    float: left; }
    .small-circle img {
      width: 90px;
      height: auto; }

  .big-font {
    font-size: 1.6em; }

  .titles h2 {
    font-size: 1.3em;
    font-weight: 300; }

  .small-titles {
    width: 60%;
    margin-left: 10px; }
    .small-titles h1 {
      font-size: 1.3em; }
    .small-titles h2 {
      font-size: 0.8em; }

  #availability {
    position: relative;
    margin-top: 20px;
    right: 0;
    width: 100%;
    min-height: 50px;
    background-color: #F1F1F1; }
    #availability h2 {
      font-size: 0.7em; }
    #availability h3 {
      font-weight: 300;
      color: #383838;
      font-size: 0.7em; }
    #availability h4 {
      font-weight: 300;
      color: #383838;
      font-size: 0.7em;
      margin-bottom: 5px; }

  #testimonials {
    width: 100%;
    height: auto;
    display: block; }
    #testimonials .column {
      width: 100%;
      height: 500px;
      margin: 0 auto; }
    #testimonials .testimonial {
      display: inline-block; }
      #testimonials .testimonial .quote {
        font-size: 0.9em; }

  input[type=email], textarea {
    width: 95%; }
 }
